h1{
    position: fixed;
    border-color: rgb(3, 0, 10);
    left: 50px;
    text-decoration: solid;
    text-decoration: underline;
    font-style: Verdana;
    color: rgb(177, 153, 19);
}

p{
    position: relative;
    top: 50px;
    font-style: Verdana;
    color: rgb(95, 112, 0);
    font-size: 30px;
}

body{
    min-width: 100vh;
    min-height: 200vh;
    background-color: rgb(200, 226, 233);
}