h1{
    position: relative;
    left: 100px;
    text-decoration: solid;
    text-decoration: underline;
    font-style: Verdana;
    color: rgb(190, 130, 0);
}

p{
    position: relative;
    left: 80px;
    font-style: Verdana;
    color: rgb(201, 97, 0);
    font-size: 30px;
}

body{
    min-width: 100vh;
    min-height: 200vh;
    background-color: rgb(140, 191, 204);
}