h1{
    position: static;
    text-decoration: solid;
    text-decoration: underline;
    font-style: Verdana;
    color: rgb(97, 0, 0);
}

h2{
    position: static;
    font-style: Verdana;
    color: rgb(97, 0, 0);
}

body{
    background-color: rgb(200, 226, 233);
}