h1{
    position: static;
    text-decoration: solid;
    text-decoration: underline;
    font-style: Verdana;
    color: rgb(255, 0, 234);
}

h2{
    position: sticky;
    text-decoration: solid;
    text-decoration: underline;
    font-style: Verdana;
    top: 30px;
    color: rgb(255, 0, 128);
}

img{
    position: sticky;
    border: 2px solid rgb(255, 0, 76);
    top: 30;
    z-index: -10;
}

body{
    min-width: 100vh;
    min-height: 200vh;
    background-color: rgb(200, 226, 233);
}