h1{
    position: static;
    text-decoration: solid;
    text-decoration: underline;
    font-style: Verdana;
    color: rgb(85, 0, 182);
}

h2{
    position: static;
    font-style: Verdana;
    color: rgb(204, 0, 255);
}

body{
    min-width: 100vh;
    min-height: 200vh;
    background-color: rgb(200, 226, 233);
}